*{
  margin: 0;
}
body{
  background: #f5f6fa
}
.app_header{
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}
.app_stats{
  display: flex;
  justify-content: space-between
}
.App{
   display: flex;
   justify-content: space-evenly;
}
@media (max-width:990px){
  .App{
    flex-direction: column;
  }
}
.app_left{
  flex: 0.9;
}